body {
	direction:ltr;
	margin: auto;
}
.bold {
    font-weight: bold;
}
/*****************************************
******* top section (music info) ******* 
 *****************************************/
 
.musicInfoSecOut { /** warpper **/
	background: 
		linear-gradient(to bottom right, #8e0000 50.1%, transparent 50.6%) no-repeat bottom, /* bottom part */ 
		linear-gradient(0deg, #8e0000, #8e0000) no-repeat top; /* top portion */
	color: white;
	padding-bottom: 5em;
	background-size: 100% 10em, 100% calc(100% - 10em);
}
.musicInfoSecIn{
	margin-top:30px;
}
#musicName{
	display: inline;
	font-size: 3.5em;
    margin: 0px;
}
#albumName{
	font-size: 1.5em;
    margin: 0px 0px 5px 0px;
}   
.coverDiv .mainCover{
	max-width:300px;
}
.label{
	padding:5px;
	margin:3px;
}
.col-md-8{
	padding-left: 0px;
    margin-left: -25px;
}

/*****************************************
*********** Music Player styels ********** 
 *****************************************/
 .mainCover:hover{
	 cursor:pointer;
 }
 
#timeline{
	position: relative;
 }
#timeline{
	width: 300px;
	height: 5px;
	background: rgba(254, 254, 254, 0.80);
	float: left;
	border-radius: 2px;
	cursor: pointer;
}
#playhead{
	margin-top: 0px;
	width: 5px;
	height: 5px;
	margin-left:0px;
	background: rgba(0, 0, 0, 0.82);
	cursor:hand;
	z-index:100;
	transition:0.3s all;
}
#timeline:hover #playhead{
	margin-top: -5px;
	width: 15px;
	height:15px;
	padding-left:-10px;
	border-radius: 50%;
}

#pButton{
	height:30px; 
	width: 30px;
	border: none;
	background-size: 50% 50%;
	background-position: center;
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    bottom: -135px;
    right: -30px;
    position: relative;
}
.fa-play , .fa-pause{
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
